$hivediveBlue: #6f47ef;
$hivediveGrey: #dfdfdf;

/* div */
#lineageContainer {
    position: relative;
}

$navbarHeight: 130px;

/* div */
.navbar {
  position: relative;
  height: $navbarHeight;
  border-bottom: 2px solid $hivediveBlue;
}

.navbar #menu-container {
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar #sign-out-container {
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar #menu-container:after {
  content: '';
  display: inline-block;
  width: 100%;
}
.navbar #menu-container:before {
  content: '';
  display: block;
  margin-top: -1.25em;
}

#border-glow {
  border: 1px solid;
  border-radius: 7px;
  border-color: $hivediveBlue;
  box-shadow: 0 0 10px $hivediveBlue;
}

/* button */
button.hivedive {
  font-weight: bold;
  color: #000000;
  border: 0;
  background: none;
  box-shadow: none;
}

button.hivedive:hover {
  color: $hivediveBlue;
  border-color: $hivediveBlue;
}

#menu-button {
  @extend button, .hivedive;
  font-size: 20px;
  width: 30px;
  height: 20px;
}

/* div */
#lineage {
  height: calc(100% - $navbarHeight);
  width: 100%;
}

$headerMargin: 10px;

#sidenav {
  height: calc(100% - $navbarHeight);
  width: 400px;
  position: fixed;
  z-index: 1;
  left: 0;
  overflow-x: hidden;
  visibility: hidden;
  background-color: white;
  border: 2px solid $hivediveGrey;
  opacity: 1;
  transition: visibility 0.3s linear, opacity 0.3s linear;
  padding-top: 70px;
  overflow-y: hidden;
}

#sidenav .control-button {
  @extend button, .hivedive;
  font-size: 12px;
  border: 2px solid black;
  border-radius: 3px;
  margin: 7px 3px 7px 3px;
}

#sidenav .filter-button {
  @extend button, .hivedive;
  font-size: 12px;
  border: 2px solid $hivediveBlue;
  color: $hivediveBlue;
  border-radius: 3px;
  margin: 7px 3px 7px 3px;
}

#sidenav .filter-button:hover {
  color: black;
  border-color: black;
}

#sidenav #search {
  position: absolute;
  width: calc(100% - 2 * $headerMargin);
  top: 0;
  margin: $headerMargin $headerMargin 0 $headerMargin;
  background-color: whitesmoke;
}

$controlHeight: 40px;

#sidenav #control {
  height: $controlHeight;
  display: flex;
  margin: 0 10px 10px 10px;
}

#sidenav #content {
  height: calc(100% - $controlHeight);
  padding: 0 10px 10px 10px;
  margin: 0 10px 10px 10px;
  overflow-y: scroll;
}

$sidePanelMargin: 5px;

.Distribution {
  background-color: #f3eefe;
  padding-left: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-style: solid;
  border-color: #6f47ef;
  border-width: 2px;
}

.Freshness {
  background-color: #f3eefe;
  padding-left: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-style: solid;
  border-color: #6f47ef;
  border-width: 2px;
}

.Nullness {
  background-color: #f3eefe;
  padding-left: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-style: solid;
  border-color: #6f47ef;
  border-width: 2px;
}

.sidepanel {
  height: calc(100% - $navbarHeight - $sidePanelMargin - $sidePanelMargin);
  width: 33%;
  position: fixed;
  z-index: 1;
  right: $sidePanelMargin;
  overflow-x: hidden;
  visibility: hidden;
  // background-color: linear-gradient(to bottom right, $hivediveGrey, White);
  border: 2px solid $hivediveGrey;
  opacity: 1;
  transition: visibility 0.3s linear, opacity 0.3s linear;
  padding-top: 50px;
  margin: $sidePanelMargin 0 $sidePanelMargin $sidePanelMargin;
  background-color: white;
}

.sidepanel .header {
  position: absolute;
  width: calc(100% - 2 * $headerMargin);
  top: 0;
  margin: $headerMargin $headerMargin 0 $headerMargin;
}

.sidepanel .header .title {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  color: black;
}

.sidepanel .header .closebtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  color: black;
  border: 0;
  background: none;
  box-shadow: none;
}

.sidepanel .header .closebtn:hover {
  @extend #border-glow;
}

.sidepanel .content {
  height: 100%;
  padding: 0 10px 10px 10px;
}

.sidepanel .content .card {
  margin-top: 5px;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
